form{
    background-color: rgb(254, 250, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border: 1px solid rgb(195, 194, 194);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    margin-top:50px ;
    height: 500px;
    width: 700px;
}
input{
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 1px solid rgb(195, 194, 194);
    border-radius: 5px;
}
button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(106, 216, 244);
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
button:active{
    color: rgb(106, 216, 244);
    background-color:rgb(189, 185, 185) ;
}
.main-content-with-sidebar{
    background-color: rgb(229, 228, 228);
    place-items: center;
  
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border: 1px solid rgb(195, 194, 194);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    height: 600px;
}