form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}
input{
    width: 600px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: solid 1px;
    border-radius: 5px;

}
button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(106, 216, 244);
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
button:active{
    color: rgb(106, 216, 244);
    background-color:rgb(189, 185, 185) ;
}
.main-content-with-sidebar{
    background-color: white;
    place-items: center;
}
body{
    background-color: rgb(239, 238, 238);
}
h1{
    color: rgb(41, 39, 39);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom:20px ;
}